
<h3>Customer Information</h3>
<b>Name</b>: <%= params['name'] %> <br>
<b>Dog's Name</b>: <%= params['dogname'] %> <br>
<b>E-Mail</b>: <%= params['email'] %> <br>
<b>Phone Number</b>: <%= params['phone'] %> <br>
<b>Message</b>: <%= params['message']%> <br>
